polkit.addRule(function(action, subject) {
    if (subject.user === "simplearch" && subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
